/*General*/
*{/*sets standard styles across the board*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}
:root {/*defined variables that can be called later holding specific colors that you defined*/
    /*call with var(--bg-color), etc*/
    --bg-color: #1f242d;
    --second-bg-color: #323946;
    --text-color: #fff;
    --main-color: #0ef;
}
html {/*?*/
    font-size: 62.5%;
    overflow-x: hidden;
}
body {/*sets colors for body of page*/
    background: var(--bg-color);
    color: var(--text-color);
}
section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: var(--bg-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
    cursor: default;
}
.navbar a {/*Nav Bar size color and spacing*/
    font-size: 1.7rem;
    color: var(--text-color);
    margin-left: 4rem;
}
.navbar a:hover,/*Changes nav bar gets when cursor hovers over it*/
.navbar a.active {/*Keeps current page tab glowing at all times*/
    color: var(--main-color);
}
.btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
}
.btn:hover {
    box-shadow: none;
}
/*Home Page*/
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}
.home-content h3 {
    font-size: 3.2rem;
    font-weight: 700;
}
.home-content h1 {
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}
.home-img img {
    width: 35vw;

}
.social-media a {
    display: inline-flex;
    justify-content:  center;
    align-items: center;
    width: 4rem;
    height: 4rem;
    background: transparent;
    border: .2rem soild var(--main-color);
    border-radius: 50%;
    font-size: 2rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}
.social-media a:hover {
    background: var(--main-color);
    color: var(--second-bg-color);
    box-shadow: 0 0 1rem var(--main-color);
}
/*About Page*/
.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: var(--second-bg-color);
}
.about-img img {
    width: 35vw;
}
.heading {
    text-align: center;
    font-size: 4.5rem;
}
.about-content h2 {
    text-align: left;
    line-height: 1.2;
}
.about-content h3 {
    font-size: 2.6rem;
}
.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}